
  <div class="jumbotron">
  </div>




    <!-- <div class="main">
      <h2>Menu</h2>
      
    <div class="row">
      <div *ngFor="let pizza of pizzaList;let i=index">
      <div >
        <p><b>{{"Name :"+pizza.name}}</b></p>
        <img class="img" [src]="pizza.image " style="height:200px;">
        <p><b>Price :{{ pizza.price | currency}}</b></p>
        <p><b>Price :{{ pizza.price * 0.84 |  currency:'EUR'}}</b></p>
      
      <br>
      <br>
      
      </div>
      <input type="number" min="0"  (input)="addquantity($event)" >
      <button class="btn-success" (click)="addToCart(pizza,pizza.price)">Add to cart</button>
      </div>
      </div>
  </div>
                         -->
   <div class="container">
     <div class="row">
      <div class="col-md-4">
        <app-cart [cartList]="cartList" (changess)="delete($event)"></app-cart>
             </div>
             <form [formGroup]="form">
       <div class="split left">
        
        <div *ngFor="let pizza of pizzaList;let i=index">
         
            <p><b>{{"Name :"+pizza.name}}</b></p>
            <img class="img" [src]="pizza.image " style="height:200px;">
            <p><b>Price :{{ pizza.price | currency}}</b></p>
            <p><b>Price :{{ pizza.price * 0.84 |  currency:'EUR'}}</b></p>          
          
          <input type="number" formControlName="number" min="0"  (input)="addquantity($event)" >
          <button class="btn-success" (click)="addToCart(pizza,pizza.price);this.form.reset()">Add to cart</button>

          </div>

          </div>
             </form>
       </div> 
       </div>


                  
        

      
  
   



       

   

   
 
