
  <!-- <div class="jumbotron">
  </div> -->




    <!-- <div class="main">
      <h2>Menu</h2>
      
    <div class="row">
      <div *ngFor="let pizza of pizzaList;let i=index">
      <div >
        <p><b>{{"Name :"+pizza.name}}</b></p>
        <img class="img" [src]="pizza.image " style="height:200px;">
        <p><b>Price :{{ pizza.price | currency}}</b></p>
        <p><b>Price :{{ pizza.price * 0.84 |  currency:'EUR'}}</b></p>
      
      <br>
      <br>
      
      </div>
      <input type="number" min="0"  (input)="addquantity($event)" >
      <button class="btn-success" (click)="addToCart(pizza,pizza.price)">Add to cart</button>
      </div>
      </div>
  </div> -->
                         

       <div class="container box_outer">
        <div class="box_whcls row">
        <div class="col-12">
        
            
            <div class="fr_left fr_field mtop20">
              <app-cart [cartList]="cartList" [total]="total" (changess)="delete($event)"></app-cart>
                       
            </div>
            
            <div  class="fr_right mtop20">  
                <div class="row">
              <div class="chrow" *ngFor="let pizza of pizzaList;let i=index">
              <div class="col-md-6">
               
                <img class="image-block" [src]="pizza.image">
                <div>
                <p>{{"Name :"+pizza.name}}<p>
                <p>Price :{{ pizza.price | currency}} |
                {{ pizza.price * 0.84 |  currency:'EUR'}}</p>
                 
                
          
           
                  <table><tr><td>
               <input type="number"   min="0"  (input)="addquantity($event)">
                  </td><td>
                    <button  class="btn btn-outline-success" (click)="addToCart(pizza,pizza.price);this.form.reset()">&#x2b;</button>
                  
                  </td></tr></table>
            
              </div>
                
              </div>
             
            </div>
              </div>       
            </div>
          
         
         
         <div class="clearfix"></div>
         
     
         
        </div>
        
        </div>
        
        </div>



       

   

   
 
